<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="laptop">

      <div class="box">

        <div class="left">
            <a href="index.html" class="headerline">
    
                <img width="45" src="/static/assets/logo.png" alt="">
                <div class="logo">AeroBMSCE</div>
              </a>
            <div class="content">Welcome to AeroBMSCE Aeromodelling Club—a hub for aviation enthusiasts to explore, build, and innovate with drones and RC planes.</div>
        </div>
        <div class="right">
            <img src="/static/assets/aero.jpeg" alt="">
        </div>
      </div>
      <div class="container">
        <div class="first"><div class="rotate">
            About Us
        </div></div>
        <div class="second"><div class="main">Welcome to AeroBMSCE Aeromodelling Club—a community for aviation, drones, and RC plane enthusiasts.
            We inspire and empower members to explore aerodynamics and aerial robotics through hands-on learning.
            Our mission is to help you design, build, and fly innovative aero-vehicles with support from experienced mentors.
            We organize workshops, training sessions, and events for all skill levels, fostering teamwork and creativity.
            Members gain access to advanced equipment, simulators, and building materials to turn ideas into reality.
            We host competitions and showcases, offering opportunities to display your creations and compete at various levels.
            Our inclusive club welcomes everyone, encouraging knowledge-sharing and lifelong friendships.
            Join us to develop practical skills, connect with like-minded individuals, and reach new heights in aeromodelling.
            Be part of a supportive, innovative, and fun community—where your passion for flight truly takes off.
</div>
            </div>
        <div class="third">
            <a href="team.html">Our Teams</a>
            <a href="camera.html">Gallery</a>
            <a href="awards.html">Awards</a>
            <a href="contact.html">Contact Us</a>
        </div>
      </div>
      <div class="bag">
        <div class="idk">
            <img src="/static/assets/water.jpeg" alt="">
        </div>
        <div class="idk2">
            <div class="last">
                Whether you’re looking to build your first model, master advanced techniques, or simply share your passion for flight, the AeroBMSCE Aeromodelling Club is your launchpad. Join us and take your love for aviation to new heights.

            </div>
        </div>
      </div>
      </div>
      <div class="mobile">
        <div class="upper">
                        <a href="index.html" class="headerline">
    
                <img width="45" src="/static/assets/logo.png" alt="">
                <div class="logo">AeroBMSCE</div>
              </a>
            <div class="landing">
                Welcome to AeroBMSCE Aeromodelling Club—a hub for aviation enthusiasts to explore, build, and innovate with drones and RC planes.
            </div>
        </div>
        <div class="middle">
            <h1>About Us</h1>
             <div class="two"><div class="twomain">Welcome to AeroBMSCE Aeromodelling Club—a community for aviation, drones, and RC plane enthusiasts.
            We inspire and empower members to explore aerodynamics and aerial robotics through hands-on learning.
            Our mission is to help you design, build, and fly innovative aero-vehicles with support from experienced mentors.
            We organize workshops, training sessions, and events for all skill levels, fostering teamwork and creativity.
            Members gain access to advanced equipment, simulators, and building materials to turn ideas into reality.
            We host competitions and showcases, offering opportunities to display your creations and compete at various levels.
            Our inclusive club welcomes everyone, encouraging knowledge-sharing and lifelong friendships.
            Join us to develop practical skills, connect with like-minded individuals, and reach new heights in aeromodelling.
            Be part of a supportive, innovative, and fun community—where your passion for flight truly takes off.
</div>
            </div>

        </div>
                    <div class="ending">
                <div class="takeoff">Whether you’re looking to build your first model, master advanced techniques, or simply share your passion for flight, the AeroBMSCE Aeromodelling Club is your launchpad. Join us and take your love for aviation to new heights.</div>
            </div>
                    <div class="links">
            <a href="team.html">Our Teams</a>
            <a href="camera.html">Gallery</a>
            <a href="awards.html">Awards</a>
            <a href="contact.html">Contact Us</a>
        </div>
      </div>
</body>
</html>