<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact AeroBMSCE</title>
    <link rel="stylesheet" href="/static/contact.css">
</head>

<body>

    <section class="contact-section">
        <div class="contact-intro">
            <h2>Get in touch</h2>
            <p>Want to get in touch? We'd love to hear from you. Here's how you can reach us.</p>
        </div>

        <div class="card-container">
            <div class="contact-card">
                <div class="icon">📞</div>
                <h3>Talk to Us</h3>
                <p>Interested in AeroBMSCE's events or projects? Just pick up the phone to chat with a member of our
                    team.</p>
                <a href="tel:+0000000000" class="btn">+0000000000</a>
            </div>

            <div class="contact-card">
                <div class="icon"><img width='55px' src="/static/assets/image.png" alt=""></div>
                <h3>Email Us</h3>
                <p>Have questions, feedback, or collaboration ideas? Feel free to reach out to us via email. We’ll get
                    back to you shortly!</p>
                <a href="mailto:contact@aerobmsce.com" class="btn">contact@aerobmsce.com</a>
            </div>
            <div class="contact-card">
                <div class="icon"><img width='55px' src="/static/assets/map.png" alt=""></div>
                <h3>Visit Us</h3>
                <p>Want to visit our club or meet the team? We're located on the BMSCE campus — come say hello!</p>
                <a href="https://maps.app.goo.gl/k5syWLrubKTG1wax7" class="btn" target="_blank">Get
                    Directions</a>
            </div>
        </div>
    </section>

</body>

</html>