<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroBMSCE</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="page-transition">
    <div class="navbar">
        <div class="left">
            <img src="/static/assets/logo.png" alt="">
            <span>AeroBMSCE</span>
        </div>
        <div class="right">
            <button onclick="window.location.href='team.html'">Teams</button>
            <button onclick="window.location.href='camera.html'">Gallery</button>
            <button onclick="window.location.href='awards.html'">Awards</button>
            <button onclick="window.location.href='about.html'">About</button>
            <button onclick="window.location.href='contact.html'">Contact</button>
        </div>
    </div>
    <div class="line"></div>
    <div class="box">
        <div class="header">
            <div class="outer">AeroBMSCE</div>
            <div class="inner">Above Gravity,Beyond Limits</div>
        </div>
        <div class="covering">
            <div class="first">
                <div class="slideshow first-slideshow">

                    <img src="/static/assets/plane.jpeg" class="active" alt="">
                    <img src="/static/assets/green.jpeg" alt="">
                    <img src="/static/assets/Pulse.jpeg" alt="">
                    <img src="/static/assets/inside.jpeg" alt="">
                </div>
            </div>
            <div class="second">
                <div class="slideshow second-slideshow">
                    <img src="/static/assets/drone2.jpeg" class="active" alt="">
                    <img src="/static/assets/doing.jpeg" alt="">
                    <img src="/static/assets/idk.jpeg">
                </div>
            </div>
            <div class="third">
                <div class="slideshow third-slideshow">
                    <img src="/static/assets/aero.jpeg" class="active" alt="">
                    <img src="/static/assets/work.jpeg" alt="">
                    <img src="/static/assets/final.jpeg" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="line"></div>
    <section class="team">
        <a href="team.html" class="holder">
            <img height="280px" src="/static/assets/people.jpeg" alt="">
        </a>
        <a href="team.html" class="info">
            <div class="text">Our Teams</div>
            <div class="teaminfo">Passionate innovators, engineers, and creators—our team brings ideas to life in the
                world of aeromodelling and RC flight</div>
            </a>
    </section>
    <div class="line"></div>
    <section class="team">
        <a href="camera.html" class="info">
            <div class="text">Moments in Motion</div>
            <div class="teaminfo">Explore our gallery to relive the excitement, creativity, and teamwork that define our
                journey in aeromodelling and drone innovation</div>
        </a >
        <a href="camera.html" class="holder">
            <img height="280px" src="/static/assets/cameraa.jpeg" alt="">
        </a>/
    </section>
    <div class="line"></div>
    <section class="team">
        <a href="awards.html" class="holder">
            <img height="280px" src="/static/assets/trophy.jpeg" alt="">
        </a>
        <a href="awards.html" class="info">
            <div class="text">Celebrating Our Achievements</div>
            <div class="teaminfo">From national competitions to campus showcases, our awards reflect dedication, skill, and a relentless pursuit of excellence in flight</div>
        </a>
    </section>
    <div class="line"></div>



    <div class="bird-container">
        <img class="bird" src="/static/assets/logo.png" alt="">
        <img class="bird" src="/static/assets/logo.png" alt="">
        <img class="bird" src="/static/assets/logo.png" alt="">
        <img class="bird" src="/static/assets/logo.png" alt="">
        <img class="bird" src="/static/assets/logo.png" alt="">
        <img class="bird" src="/static/assets/logo.png" alt="">
    </div>
</div>
<script src="/templates/index.js"></script>

</body>



</html>